{% extends "layout.html" %}
{% block content %}
    <h1></h1>
	<p>This is the new and improved site for finding living arrangements in Denmark.</p>
	<p>This site mainly focusses on providing different reccomodations for students. The ulterior motive for the website was that finding living arrangements in Denmark as a student is confusing and overwhelming.and overwhelming. This website provides a  simple and easy way to figure out what is the best solution for you as a student</p>
	  <h2> How it works:</h2>
	<p>When you go to the website page you can see some boxes where you should enter your informations. Then the website would provide the best solution for the value which you gave. Here is an example</p>
	<ul>
		<li>Maximum Deposit = 14.000</li>
		<li>Maximym monthly rent = 5.000</li>
		<li>Minimum square meters = 50</li>
		<li>Maximum distance to UCPH = 10</li>
	</ul>
	  <h3> Result</h3>
	<p>When this input is being given, the website would provide you with solutions such as: Brøndby, Frederiksberg, Gladsaxe, etc.</p>
{% endblock content %}

